<ion-header>
  <ion-toolbar>
    <ion-title>
      PSQI Questionnaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD/MM" [(ngModel)]="day"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label>Bed time</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="bedTime"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label>Estimate time before sleeping</ion-label>
      <ion-datetime displayFormat="mm" [(ngModel)]="minutes"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label>Wake up time</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="wakeUpTime"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label>Woke up how many times</ion-label>
      <ion-input type="number" [(ngModel)]="wakeUpNumber"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Had to go to the bathroom</ion-label>
      <ion-toggle [(ngModel)]="bathroom"></ion-toggle>
  </ion-item>
  <ion-item>
      <ion-label>Missed alarm</ion-label>
      <ion-toggle [(ngModel)]="missedAlarm"></ion-toggle>
  </ion-item>
  <ion-button (click)="submitResult()">Submit</ion-button>
</ion-content>
